*{
    margin: 0;
    padding: 0;
}
#container{
width: 1200px;
height: 1000px;
margin: 0.5em auto;
padding: 0.5em; 
}
#header{
    width: 100%;
    height: 15%;
    background: #78866b;
    color: aliceblue;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    font-size: 30px;
}
#nav{
    width: 100%;
    height: 10%;
    background: #8d9982;
    color: aliceblue;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    font-size: 30px;
}
#contenido{
height: 45%;
background: #fff;
}
#section{
height: 95%;
width: 70%;
background: #a3ad9a;
border-radius: 1em;
margin: 0.5em;
float: left;
text-align: center;
font-size: 15px;
}
#aside{
height: 95%;
width: 25%;
background: #e7eae5;
border-radius: 1em;
float: right;
margin: 0.5em;
}
#aside h3{
    text-align: center;
    color: #000;
}
#aside p{
    text-align: center;
    color: #000;
}
#footer{
width: 100%;
height: 15%;
background: #d7d0b7;
color: #000;
border-radius:1em;
margin: 1em;
text-align:center;
font-size:30px;
}
.article{
width: 95%;
height: 20%;
background: #b9c1b2;
margin: 1em;
border-radius: 1em;
color: #000;
text-align: center;
font-size: 25x;
}